.git
.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ipynb_checkpoints
README.md
EDA
Modelo_Clasificador_Topics
BETO/notebook
BETO/artifacts_leakage
BETO/artifacts/explanations
BETO/artifacts/metrics
BETO/artifacts/test_split.csv
BETO/artifacts/train_split.csv
BETO/artifacts/val_split.csv
app/frontend/node_modules
app/frontend/dist
app/backend/data/*.csv
!BETO/artifacts/model/**
!app/backend/data/.gitkeep
